# 유저 라벨링

* 플레이기간
    * 3일 이하 플레이, 1시간 이상 플레이 : F (빠른 이탈)
    * 10일 이상 플레이, 레벨 40 이상

In [38]:
import pandas as pd
import csv

In [2]:
chat = pd.read_csv('./dataset/cbt5_chatall.csv')
stat = pd.read_csv('./dataset/cbt5_log.csv')

In [19]:
chatids = set(chat['ID'])

In [8]:
len(chatids)

4974

In [22]:
stat.head()

,game_id,harve,comqu,crime,die,failq,guild,ind_i,jail,kicke,...,playtime,maxlevel,logday,nick_len,lan,adjective,verb,total_pos,search_num,search
0,1001,4,1,0,0,0,0,1,0,0,...,113936,50,13,3,kor,0,0,2,0,no
1,1002,0,0,0,0,0,0,1,0,0,...,14803,1,6,4,kor,0,0,2,6206,hi
2,1003,0,0,0,0,0,0,0,0,0,...,1232,1,6,5,kor,0,0,1,36,mi
3,1006,0,0,0,0,0,0,0,0,0,...,8644,1,2,4,kor,0,0,2,1983,hi
4,1007,1,0,0,0,0,0,1,0,0,...,4628,1,4,5,kor,0,1,3,1,sm

In [64]:
temp1 =set(stat.loc[(stat.logday < 4) & (stat.playtime>=3600) & (stat.game_id<50000)].game_id)

In [65]:
len(temp1 & chatids)

540

In [50]:
temp2 =set(stat.loc[(stat.maxlevel >=40) & (stat.logday>=10)].game_id)
len(temp2 & chatids)

501

In [66]:
with open('./dataset/cbt5_label.csv','w',newline='\n') as writefile:
    writer = csv.writer(writefile)
    writer.writerow(['game_id','label'])
    for id1 in chatids:
        if id1 in temp1:
            writer.writerow([id1,'F'])
        elif id1 in temp2:
            writer.writerow([id1,'A'])